@model IQueryable<Trucker>
@{
    ViewData["Title"] = "My Fleet";
}

<div class = "page-content">

    <div class="sidebar">
        <partial name="_Fleet" />
    </div>

    <div class="text-center">
        <h1>MY FLEET</h1>
        <table class="table table-dark table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Vehicle Number</th>
                <th>Verified</th>
            </tr>
        @foreach (var m in @Model)
        {
            <tr>
                <td>@m.ID</td>
                <td>
                    <a class="nav-link" asp-area="" asp-controller="Fleet" asp-action="ViewTrucker" asp-route-id=@m.ID>@m.Name</a>
                </td>
                <td>@m.VehicleNumber</td>
                <td>@m.Verified</td>
                <td>
                    <a class="nav-link" asp-area="" asp-controller="Fleet" asp-action="ResetTrucker" asp-route-id=@m.ID>Reset</a>
                </td>
            </tr>
        }
        </table>
    </div>

</div>