@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to Fleet Tracker!</h1>
    <h3 class="display-4">Get Started!</h3>

    <ul>
        <li>Register your manager account</li>
        <li>Add truckers to your fleet</li>
        <li>Get the app on their phones</li>
        <li>Run the app during their shifts and monitor on this site</li>
    </ul> 
</div>

