@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The team at FleetTracker think pravacy is pretty cool</p>
<p>That's why we track the location of your entire fleet for you!!!</p>
