<div class="navbar d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <b><a class="nav-link" asp-area="" asp-controller="Fleet" asp-action="Index">FLEET</a></b>
        </li>
        <li class="nav-item">
            <b><a class="nav-link" asp-area="" asp-controller="Fleet" asp-action="AddTrucker">ADD TRUCKER</a></b>
        </li>
        <li class="nav-item">
            <b><a class="nav-link" asp-area="" asp-controller="Fleet" asp-action="SetRules">SET RULE THRESHOLDS</a></b>
        </li>
    </ul>
</div>