<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Fleet" asp-action="Index">Fleet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Fleet" asp-action="AddTrucker">Add Trucker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Fleet" asp-action="SetRules">Set Rule Thresholds</a>
        </li>
    </ul>
</div>